:root {
  /* COLORS*/
  --ecommerce-color: #d90429;
  --color-1: #e45062;
  --color-2: #424242;
  --color-3: #a6a6a6;
  --color-3: #b7b7b7;
  --color-4: #d4d4d5;
  --color-5: #ffffff;
  --color-6: #0000ff;
  --color-background: #fdfbfb;
}

body {
  background-color: var(--color-background);
}

.logo {
  display: none;
}

.search{
  width: 15rem;
  margin: auto;
}

#btnNavSearch{
  display: none;
}

h2 {
  text-align: center;
  margin: 1rem 0;
}

h5{
  font-size: 1rem;
}

nav {
  height: 5rem;
}

.menu {
  /* background-color: var(--ecommerce-color);
  margin: auto;
  height: 3rem; */
  display: none;

}

.menu ul {
  display: flex;
  justify-content: right;
  text-decoration: none;
  margin-bottom: 0;
}

.menu li {
  margin-top: .8rem;
}

ul a {
  margin: 1rem;
  text-decoration: none;
  color: var(--color-5);
}

/* Menu hamburguesa*/
#btnCategories {
  width: 2rem;
  height: .2rem;
}

#btnNavOption{
  margin: auto;
}

.navbar-toggler {
  position: absolute;
  display: flex;
  width: 12rem;
  height: 2.7rem;
  margin-left: 3rem;
  margin-bottom: 2.5rem;
}

span {
  margin-top: .2rem;
  font-size: 1.5;
}


.menu li {
  list-style: none;
  text-decoration: none;
}

.carrito {
  width: 2rem;
  height: 2rem;
  margin: auto;
}



/* carrousel */

#carouselExampleIndicators {
  margin-top: 0;
}

.carousel-inner img {
  height: 10rem;
}



/* cards */
#tarjetas {
  justify-content: center;
  margin: auto;
  width: 90vw;
}

.card {
  box-shadow: 10px 10px 15px var(--color-3);
}

.card img{
  border-bottom: 1px solid var(--color-2);
  height: 10rem;
}
.card-body{
  padding: .4rem;
}

.btn-agregar{
  height: 2rem;
  background-color: var(--ecommerce-color);
  text-align: center;
  align-items: center;
}

.card a{
  margin: .5rem;
  font-size: .8rem;
  color: var(--color-5);
}

/* banner */

.banner{
  width: 100%;
  margin: 2rem 0;
}

/* LISTADO */


.list-body{
  height: 8rem;
  width: 100%;
  margin-top: .5rem;
  border-bottom: 1px solid var(--color-2);
}

.img-list{
  margin: .5rem;
  width: 8rem;
  border: 1px solid var(--color-2);
  border-radius: .2rem;
}

.list-content{
  margin-left: 1rem;
  height: inherit;
}

.list-group a{
  color: var(--color-5);
  margin: auto;
  font-size: .8rem;
}

.list-group h5 {
  font-size: 1.1rem;
  height: 2.4rem;
  overflow: hidden;
  margin-top: .5rem;
}





/* Estilos footer */

.footer {
  background-color: var(--color-3);
  padding: 20px;
  text-align: center;
}

.footer-logo img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.footer-icons {
  position: absolute;
  right: 1rem;
}

.footer-icons a {
  color: #333;
  margin-right: 10px;
}

.footer-icons i {
  font-size: 20px;
}

#copy {
  text-align: center;
  margin: auto;
}

.datos-emp {
  text-align: left;
  width: 60%;
}

.datos-emp p {
  margin: 0 0 0 2rem;
}

/* TABLET */

@media only screen and (min-width: 768px) {

}


/* DESKTOP */
@media only screen and (min-width: 992px) {
/* 
#categorias {
  font-size: 1rem;
  margin-top: .6rem;
  margin-left: 1rem;
  color: var(--color-5);
} */
}