:root {
    /* ---- COLORS ---- */
    --bytebusters-color: #1fb300;
    --color-1: #181818;
    --color-2: #5a5a5a3b;
    --color-3: #cecece;
    --color-4: #000000;
    --color-5: #b8b8b878;
    --transparent-color: #00000000;

    /* ---- BACKGROUNDS ---- */
    --primary-background-color: var(--color-1);
    --secondary-background-color: var(--color-2);
    --input-background-color: var(--color-3);
    --footer-background-color: var(--color-4);

    /* ---- BORDERS ---- */
    --primary-border: 1px solid var(--bytebusters-color);
    --secondary-border: 1px solid var(--color-3);
    --frames-border: 1px solid var(--color-5);

    /* ---- TEXT ---- */
    --primary-text-color: var(--color-1);
    --secondary-text-color: var(--color-5);
    --text-button-color: var(--color-1);
    --error-message-color: var(--color-3);

    /* ---- FONTS ---- */
    --font-family-h1: Verdana, Geneva, Tahoma, sans-serif;
    --primary-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}


h1{
    color: var(--color-3);
    font-size: 2rem;
    font-family: var(--font-family-h1);
    padding-top: 6rem;
    margin: 1rem;
    text-align: center;
}

html{
    position: relative;
}

body {
    background: var(--primary-background-color);
}

input{
    outline: none;
    border-radius: .3rem;
    text-indent: .5rem;
    background-color: var(--color-3);
    border: 1px solid var(--color-4);
}

input:focus::placeholder{
    font-weight: bold;
}

select{
    outline: none;
    border-radius: .3rem;
    text-indent: .5rem;
    background-color: var(--color-3);
    border: 1px solid var(--color-4);
}

th{
    background-color: var(--color-1) !important;
}

td{
    background-color: var(--color-1) !important;
}

thead tr{
    height: 3rem;
}

.form-login {
    width: 40vw;
    min-width: 20rem;
    height: fit-content;
    margin: 2rem auto 0;
    background-color: var(--secondary-background-color);
    padding: 1rem;
    border: var(--primary-border);
    border-radius: 2rem;
}

.img-login {
    display: flex;
    width: 10rem;
    margin: 1rem auto 2rem;
    background-color: var(--color-3);
    border-radius: 2rem;
    animation: rotate 2s 1;
    filter: drop-shadow(.5rem .4rem .5rem black)
}


/* --------- FORM --------- */

.form-login label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login input {
    display: block;
    margin: .5rem 0;
    width: 20rem;
    height: 2.5rem;
    border: 1px solid;
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--primary-text-color);
    font-size: 1.2rem;
    text-indent: .5rem;
}

.form-login input:focus {
    outline: none;
}

.form-login i {
    transform: scale(130%);
    padding: 0 .5rem 0 0;
    color: var(--bytebusters-color);
}

.form-login a {
    display: flex;
    margin-top: .5rem;
    text-decoration: none;
    justify-content: center;
    color: var(--secondary-text-color);
}

.form-login .btn-submit {
    width: 10rem;
    text-indent: 0;
    margin: 3rem auto 2rem;
    background-color: var(--bytebusters-color);
    cursor: pointer;
    color: var(--text-button-color);
    text-align: center !important;
}

.form-login .btn-submit:hover {
    border: 1px solid var(--primary-text-color);
    filter: brightness(85%);
}

.profile {
    position: absolute;
    display: flex;
    width: 8rem;
    height: 3rem;
    border: 1px solid #1fb300;
    border-radius: 5rem;
    right: 1rem;
    top: 1rem;
    color: var(--color-3);
    text-align: center;
    background-color: var(--transparent-color);
}

.profile:focus-visible{
    outline: none;
}




/* --------- MENU --------- */

.menu-cards{
    background-color: var(--color-3);
    height: 15rem;
    max-width: 15rem;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid var(--color-4);
    border-radius: 1rem;
    text-align: center;
    filter: drop-shadow(.4rem .4rem .6rem var(--color-4));
}

.menu-cards a{
    text-decoration: none;
    color: var(--primary-text-color);
}

.menu-cards:hover{
    scale: 103%;
    border: 2px solid var(--color-4);
    filter: drop-shadow(.4rem .4rem .6rem var(--bytebusters-color));
}

.menu-cards i{
    margin: 3rem auto;
    scale: 400%;
    color: var(--color-1);
}

.menu-cards h4{
    font-family: var(--primary-font-family);
    font-size: 1.3rem;
    padding: 0 1.5rem;
    text-align: center;
}

.menu-cards p{
    font-family: var(--primary-font-family);
    font-size: .9rem;
    padding: 0 2rem;
    margin-top: 1rem;
}


/* --------- ABM USUARIOS --------- */

.table-frame{
    height: 28rem;
    margin: auto;
    background-color: var(--color-1);
    border-left: 1px solid var(--color-5);
    border-right: 1px solid var(--color-5);
    overflow-y: scroll;
    overflow-x: none;
}

.btn-abm {
    display: inline-flex;
    width: 6rem;
    height: 6rem;
    margin: 1rem .5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color-3);
    border: 3px solid var(--color-4);
    border-radius: .3rem;
}

.items a:focus .btn-abm{
    border: 3px solid var(--bytebusters-color);
    scale: 110%;
}

.btn-abm i{
    scale: 300%;
    padding-top: 1px;
    color:var(--color-4)
}

.items{
    margin: auto;
    text-align: center;
}

.form-abmUsuarios{
    margin-top: 5rem;
}

.form-abmUsuarios input{
    display: flex;
    margin: auto;
    width: 15rem;
    height: 2.5rem;
    margin-top: .5rem;  
}

.form-abmUsuarios select{
    display: flex;
    margin: auto;
    width: 15rem;
    height: 2.5rem;
    margin-top: .5rem;  
}

.form-abmUsuarios .buttons{
    display: flex;
    margin: 2rem 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.form-abmUsuarios .buttons button {
    width: 7rem;
    height: 2rem;
    text-indent: 0;
    margin: 3rem auto 2rem;
    cursor: pointer;
    color: var(--text-button-color);
    background-color: var(--color-3);
    border: 1px solid var(--color-4);
    text-align: center;
    border-radius: .3rem;
}

.form-abmUsuarios .buttons button:hover {
    filter: brightness(85%);
}



/* --------- ERRORS --------- */
.login-msg-error{
    color: var(--error-message-color);
    display: flex;
    width: 15rem;
    height: 2rem;
    margin: auto;
}

.img-error{
    display: flex;
    margin: auto;
}


/* --------- GENERICS --------- */

.justify-center{
    display: flex;
    justify-content: center;
}

.border-test{
    border: 1px solid red;
}

.separator{
    margin-bottom: 8rem;
    opacity: 0;
}



/* ---------  FOOTER --------- */
footer {
    position: fixed;
    background-color: var(--footer-background-color);
    width: 100vw;
    height: 12vh;
    bottom: -1px;
    left: 0;
    border-top: var(--primary-border);
}

footer .copyright {
    position: absolute;
    color: var(--secondary-text-color);
    font-size: .5rem;
    bottom: .5rem;
    right: 0;
    padding-right: 1rem;
}

footer img {
    display: flex;
    position: relative;
    height: 80%;
    margin: .5rem -1rem;
}



/* --------- DESKTOP ---------*/
@media only screen and (min-width: 1200px) {

    body{
        min-height: 80vh;
    }

    h1{
        font-size: 3rem;
        text-align: start;
        padding: 1rem;
    }

    .frame {
        min-width: 95vw;
        margin: 5rem auto 0 auto;
        border: 1px solid var(--color-5);
        
    }
    
    .btn-back{
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-color: var(--transparent-color);
        color: var(--color-3);
        width: 5rem;
        padding: .2rem;
        border-radius: 2rem;
    }

    .form-login {
        min-width: 25rem;
        margin: 5rem auto 0;
    }

    .profile {
        width: 8rem;
    }


/* --------- MENU --------- */

.menu-cards{
    margin: 6rem 4rem;
    height: 20rem;
}

.menu-cards i{
    margin: 5rem auto;
    margin-bottom: 4rem;
    color: var(--color-1);
    scale: 500%;
}

.menu-cards h4{
    font-size: 1.5rem;
    padding: 0 1rem;
}

.menu-cards p{
    font-size: .9rem;
    padding: 0 2rem;
    margin-top: 1rem;
}

.separator{
    display: none;
}

footer{
    position: fixed;
}

footer img {
    margin: .5rem ;
    scale: 120%;
}

footer .copyright {
    font-size: .8rem;
}



/* --------- ABM USUARIOS --------- */

.btn-abm{
    margin: 2rem;
}

.items{
    margin: 2rem auto;
    text-align: center;
}

.btn-abm i{
    scale: 300%;
    color:var(--color-4)
}


}
/* --------- ERRORS --------- */
.body-error{
    background-color: var(--color-1);
}
.body-error img{
    margin: auto;
}
/* --------- ANIMATIONS ---------  */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(35deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}