:root {
    /* ---- COLORS ---- */
    --bytebusters-color: #1fb300;
    --color-1: #181818;
    --color-2: #5a5a5a3b;
    --color-3: #cecece;
    --color-4: #000000;
    --color-5: #b8b8b878;
    --transparent-color: #00000000;

    /* ---- BACKGROUNDS ---- */
    --primary-background-color: var(--color-1);
    --secondary-background-color: var(--color-2);
    --background-color-light: var(--color-3);
    --footer-background-color: var(--color-4);

    /* ---- TEXT ---- */
    --primary-text-color: var(--color-1);
    --secondary-text-color: var(--color-5);
    --text-button-color: var(--color-1);
    --error-message-color: var(--color-3);

    /* ---- BORDERS ---- */
    --primary-border-color: var(--bytebusters-color);
    --secondary-border-color: var(--color-3);

    /* ---- FONTS ---- */
    --font-family-h1: Verdana, Geneva, Tahoma, sans-serif;
    --primary-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}


h1 {
    color: var(--color-3);
    font-size: 2rem;
    font-family: var(--font-family-h1);
    padding-top: 6rem;
    margin: 1rem;
    text-align: center;
}

html {
    position: relative;
}

body {
    background: var(--primary-background-color);
}

input {
    outline: none;
    border-radius: .3rem;
    text-indent: .5rem;
    background-color: var(--background-color-light);
    border: 1px solid var(--color-4);
}

textarea {
    outline: none;
    resize: none;
    border-radius: .3rem;
    text-indent: .5rem;
    background-color: var(--background-color-light);
    border: 1px solid var(--color-4);
}

input:focus {
    border: 2px solid var(--secondary-border-color);
}

select {
    outline: none;
    border-radius: .3rem;
    text-indent: .5rem;
    background-color: var(--background-color-light);
    border: 1px solid var(--color-4);
}

th {
    background-color: var(--primary-background-color) !important;
    text-indent: .5rem;
    text-align: center;
    overflow-y: none;
    padding: 1rem 0 !important;
    border: 1px solid var(--secondary-border-color);
}

td {
    background-color: var(--primary-background-color) !important;
    padding: 0;
    text-align: center;
    border: 1px solid var(--secondary-border-color);
}

a {
    text-decoration: none;
}

td a {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--color-3);
    padding: 0.5rem;
}

.table>:not(caption)>*>* {
    padding: 0;
}

thead tr {
    font-size: 1.1rem;
}

td{
    border-bottom: 1px solid var(--secondary-border-color)
}

.link-profile {
    width: 5rem;
    background-color: var(--secondary-background-color);
    font-size: 1rem;
    margin: .5rem 1rem;
    color: var(--color-3);
    position: relative;
    justify-content: right;

}

.link-profiles-div {
    position: absolute;
    right: 0;
}

.form-login {
    width: 40vw;
    min-width: 20rem;
    height: fit-content;
    margin: 2rem auto 0;
    background-color: var(--secondary-background-color);
    padding: 1rem;
    border: 1.2px solid var(--primary-border-color);
    border-radius: 1.5rem;
}

.img-login {
    display: flex;
    width: 10rem;
    margin: 1rem auto 2rem;
    background-color: var(--background-color-light);
    border-radius: 2rem;
    animation: rotate 2s 1;
    filter: drop-shadow(.5rem .4rem .5rem black)
}


/* --------- FORM --------- */

.form-login label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login input {
    display: block;
    margin: .5rem 0;
    width: 20rem;
    height: 2.5rem;
    border: 1px solid;
    border-radius: 5px;
    background-color: var(--background-color-light);
    color: var(--primary-text-color);
    font-size: 1.2rem;
    text-indent: .5rem;
}

.form-login input:focus {
    outline: none;
}

.form-login i {
    transform: scale(130%);
    padding: 0 .5rem 0 0;
    color: var(--bytebusters-color);
}

.form-login a {
    display: flex;
    margin-top: .5rem;
    justify-content: center;
    color: var(--secondary-text-color);
}

.form-login .btn-submit {
    width: 10rem;
    text-indent: 0;
    margin: 3rem auto 2rem;
    background-color: var(--bytebusters-color);
    cursor: pointer;
    color: var(--text-button-color);
    text-align: center !important;
}

.form-login .btn-submit:hover {
    border: 1px solid var(--primary-text-color);
    filter: brightness(85%);
}

.profile {
    position: absolute;
    display: flex;
    width: 8rem;
    height: 3rem;
    border: 1px solid #1fb300;
    border-radius: 5rem;
    right: 1rem;
    top: 1rem;
    color: var(--color-3);
    text-align: center;
    background-color: var(--transparent-color);
}

.profile:focus-visible {
    outline: none;
}




/* --------- MENU --------- */

.menu-cards {
    background-color: var(--background-color-light);
    height: 15rem;
    min-width: 13rem;
    max-width: 15rem;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid var(--color-4);
    border-radius: .7rem;
    text-align: center;
    filter: drop-shadow(4px 4px 4px var(--color-5));
}

.menu-cards a {
    color: var(--primary-text-color);
}

.menu-cards:hover {
    scale: 106%;
    border: 5px solid var(--bytebusters-color);
    filter: drop-shadow(.1rem .1rem .5rem var(--bytebusters-color));
}

.menu-cards i {
    margin: 3rem auto;
    scale: 400%;
    color: var(--primary-text-color);
}

.menu-cards h4 {
    font-family: var(--primary-font-family);
    font-size: 1.3rem;
    font-weight: 900;
    padding: 0 1.5rem;
    text-align: center;
}

.menu-cards p {
    font-family: var(--primary-font-family);
    font-size: .9rem;
    padding: 0 2rem;
    margin-top: 1rem;
}


/* --------- ABM USUARIOS --------- */

.table-frame {
    height: 28rem;
    margin: auto;
    background-color: var(--primary-background-color);
    border-left: 1px solid var(--color-5);
    border-right: 1px solid var(--color-5);
    overflow-x: none;
    overflow-y: scroll;
}

.table-options {
    display: flex;
    margin: 2rem 0 1rem 0;
}

.table-options select {
    height: 2rem;
    margin-left: 1rem;
    text-align: center;
}

.first-in-table {
    text-align: start;
}

.btn-eye {
    width: 2rem;
    height: 2rem;
    text-align: center;
    background-color: var(--transparent-color);
    border: 0;
}

.btn-eye i {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--color-3);
}

.filter-list {
    width: 10rem;
}

.order-list {
    width: 7rem;
}

.table-options input {
    width: 14rem;
    height: 2rem;
}

.table-options button {
    width: 5rem;
    height: 2rem;
    border: 1px solid var(--color-4);
    background-color: var(--background-color-light);
    border-radius: .3rem;
    margin-left: 1rem;
    margin-right: auto;
}

.btn-abm {
    display: inline-flex;
    width: 6rem;
    height: 6rem;
    margin: 1rem .5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-light);
    border: 3px solid var(--color-4);
    border-radius: .7rem;
}

.items a:focus .btn-abm {
    border: 3px solid var(--bytebusters-color);
    scale: 106%;
    filter: drop-shadow(.1rem .1rem .3rem var(--bytebusters-color));
}

.btn-abm i {
    scale: 300%;
    padding-top: 1px;
    color: var(--color-4)
}

.items {
    margin: auto;
    text-align: center;
}

.form-abm {
    margin-top: 5rem;
}

.form-abm textarea {
    display: flex;
    margin: auto;
    min-width: 15rem;
    height: 10rem;
    margin-top: .5rem;
}

.form-abm input {
    display: flex;
    margin: auto;
    min-width: 15rem;
    height: 2.5rem;
    margin-top: .5rem;
}

.form-abm select {
    display: flex;
    margin: auto;
    min-width: 15rem;
    height: 2.5rem;
    margin-top: .5rem;
}

.form-abm .buttons {
    display: flex;
    margin: 2rem 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.buttons button {
    width: 8rem;
    height: 2rem;
    text-indent: 0;
    margin: 5rem 1rem 1rem;
    cursor: pointer;
    color: var(--text-button-color);
    background-color: var(--background-color-light);
    border: 1px solid var(--color-4);
    text-align: center;
    border-radius: .3rem;
}

.form-abm .buttons button:hover {
    filter: brightness(85%);
}

/*---------CONFIG EMPRESA------*/

.form-emp {
    display: inline-flex;
    margin: auto;
}

.form-emp div {
    display: flex;
    flex-direction: column;
}

.form-emp input {
    display: flex;
    justify-content: center;
    margin: .1rem .2rem;
    min-width: 18rem;
    height: 3rem;
    margin-top: .5rem;
}

.btn-emp {
    margin: .2rem;
    width: 10rem;
}

.data-emp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 14rem;
    height: 0.5rem;
    margin-top: 13.5rem;
    margin-left: 5rem;
}
.data-label{
    display: flex;
    margin-bottom: 2px;
    border-bottom: 1px solid white;
    font-family: h1;
    color: white;
}


.img-empresa {
    display: flex;
    margin: 2rem auto;
    width: 15rem;
    height: 10rem;
}

/* --------- ERRORS --------- */
.login-msg-error {
    color: var(--error-message-color);
    display: flex;
    width: 15rem;
    height: 2rem;
    margin: auto;
}

.img-error {
    display: flex;
    margin: auto;
}


/* --------- GENERICS --------- */

.justify-center {
    display: flex;
    justify-content: center;
}

.align-end {
    align-items: end;
}

.center {
    display: flex;
    justify-content: center;
}

.border-test {
    border: 1px solid red;
}

.separator {
    margin-bottom: 8rem;
    opacity: 0;
}

.disabled {
    filter: brightness(30%);
    z-index: -10;
}



/* ---------  FOOTER --------- */
footer {
    position: fixed;
    background-color: var(--footer-background-color);
    width: 100vw;
    height: 12vh;
    bottom: -1px;
    left: 0;
    border-top: 1.2px solid var(--primary-border-color);
}

footer .copyright {
    position: absolute;
    color: var(--secondary-text-color);
    font-size: .5rem;
    bottom: .5rem;
    right: 0;
    padding-right: 1rem;
}

footer img {
    display: flex;
    position: relative;
    height: 80%;
    margin: .5rem -1rem;
}

/* --------- BOOSTRAP --------- */

.container {
    max-width: 95vw;
}

.row {
    min-height: 60vh
}

.sticky-top{
    top: -6px;
}




/* --------- DESKTOP ------------------------------------  <<<<<<<<<<<<<<<<<<<  ---------*/
@media only screen and (min-width: 992px) {

    body {
        min-height: 80vh;
    }

    h1 {
        font-size: 3rem;
        text-align: start;
        padding: 1rem;
    }

    .frame {
        min-width: 95vw;
        min-height: 60vh;
        margin: 5rem auto 0 auto;
        border: 1px solid var(--color-5);
    }

    .btn-back {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-color: var(--transparent-color);
        color: var(--color-3);
        width: 5rem;
        padding: .2rem;
        border-radius: 2rem;
    }

    .form-login {
        min-width: 25rem;
        margin: 5rem auto 0;
    }

    .profile {
        width: 8rem;
    }
}



/* --------- MENU --------- */

.menu-cards {
    margin: 7rem auto;
    height: 20rem;
}

.menu-cards i {
    margin: 5rem auto;
    margin-bottom: 4rem;
    color: var(--primary-text-color);
    scale: 500%;
}

.menu-cards h4 {
    font-size: 1.6rem;
    padding: 0;
}

.menu-cards p {
    font-size: .9rem;
    padding: 0 2rem;
    margin-top: 1rem;
}

.separator {
    display: none;
}

footer {
    position: fixed;
}

footer img {
    margin: .5rem;
    scale: 120%;
}

footer .copyright {
    font-size: .8rem;
}



/* --------- ABM USUARIOS --------- */

.btn-abm {
    margin: 2rem;
}

.items {
    margin: 2rem auto;
    text-align: center;
}

.btn-abm i {
    scale: 300%;
    color: var(--color-4)
}

.form-abm input {
    width: 13rem;
}

.form-abm select {
    width: 13rem;
}



/* --------- ERRORS --------- */
.body-error {
    background-color: var(--primary-background-color);
}

.body-error img {
    margin: auto;
}



/* --------- ANIMATIONS ---------  */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(35deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}